<div class="row">
  <img class="mx-auto" src="/images/beer.png" alt="beer pic" />
</div>
<div clas="row">
  <div class="mx-auto text-center">
    <a href="/beers" class="btn btn-primary btn-lg">Check the beers!</a>
    <a href="/random" type="button" class="btn btn-primary btn-lg">Random beer!</a>
  </div>
</div>