<section>
  <h1>Check our special recommendation!</h1>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src={{image_url}} alt="random-beer-img">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p>{{tagline}}</p>
      <p class="card-text">{{description}}</p>
    </div>
  </div>
</section>